{% extends 'base.html.twig' %}

{% block title %}Usuario index{% endblock %}

{% block contenedor_principal %}
{% include 'comunes/_mensajes.html.twig' %}

    <h1>Usuario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>EMAIL</th>
                <th>Roles</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>N podcasts</th>

            
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.EMAIL }}</td>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
                <td>{{ usuario.Nombre }}</td>
                <td>{{ usuario.Apellidos }}</td>
                <td>{{ usuario.podcasts|length }}</td>
                <td>
                    <a href="{{ path('app_usuario_show', {'id': usuario.id}) }}">show</a>
                    <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_usuario_new') }}">Create new</a>
{% endblock %}
