{% extends 'base.html.twig' %}

{% block title %}Podcast index{% endblock %}

{% block contenedor_principal %}
    <h1>Podcast index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Audio</th>
                <th>Imagen</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
        {% for podcast in podcastsAdmin %}
            <tr>
                <td>{{ podcast.id }}</td>
                <td>{{ podcast.Titulo }}</td>
                <td>{{ podcast.Fecha ? podcast.Fecha|date('Y-m-d') : '' }}</td>
                <td>{{ podcast.descripcion }}</td>
                <td>{{ podcast.audio }}</td>
                <td>{{ podcast.imagen }}</td>
                <td>{{ podcast.usuario.email }}</td>
                <td>
                    <a href="{{ path('app_podcast_edit', {'id': podcast.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_podcast_new') }}">Create new</a>
{% endblock %}
